mixin contacts()
	+b('section').contacts&attributes()
		block contacts
		mixin contactLines(item)
			.contact-line
				.contact-line__title= item.title
				.contact-line__text= item.content
		for item in contactsList
			+contactLines(item)
