.contacts
	&__title
		font-family 'PT Sans', 'Arial', sans-serif
		font-size 22px
		font-weight bold
		line-height 1.5em

	&__text-input
		padding 10px 20px
		display inline-block
		font-family 'Courier New', sans-serif
		font-size 30px
		font-weight normal
