mixin contacts()
	+b('section').contacts&attributes()
		block contacts
		mixin contactLines(item)
			p.contacts__title= item.title
				span.contacts__text-input= item.content
		for item in contactsList
			+contactLines(item)
