.contact-line
	display flex

	&__title
		margin-right 10px
		font-family 'PT Sans', 'Arial', sans-serif
		font-size 22px
		font-weight bold
		align-self flex-end

	&__text
		display block
		flex-grow 1
		padding 10px 20px
		min-height 40px
		font-family 'Courier New', sans-serif
		font-size 30px
		font-weight normal
		background url('/underline.png') repeat-x bottom
