mixin plans()
	+b('section').plans&attributes()
		block plans
		h2.section-title Расскажите о себе словами
		p.section-text.
			Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR.
			Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
		.contact-line__text Ну-ууу-уу...
		.contact-line__text Ээээ...
		.contact-line__text
