@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic')

//@font-face
//	font-family PTSans
//	font-weight normal
//	src url(app/resources/PT_Sans-Web-Regular.ttf)
//
//@font-face
//	font-family PTSans
//	font-weight bold
//	src url(app/resources/PT_Sans-Web-Bold.ttf)
