extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Project Template';

block contacts
	- var contactsList = [{title: 'Полное ФИО', content: 'Гусаков Георгий Сергеевич'},{title: 'Год рождения', content: '1990'},{title: 'Место жительства', content: 'г. Великий Новгород, Россия'},{title: 'Скайп', content: 'georgegus27'},{title: 'Почта', content: 'georgegus1@gmail.com'}];

block skills
	- var skillsList = [[{label: 'БЭМ/OOCSS', checked: true}, {label: 'Pug (Jade)', checked: true},{label: 'Stylus/LESS/SASS', checked: true}, {label: 'Работаю с SVG', checked: false},{label: 'Верстаю семантично', checked: true}, {label: 'Accessibility (A11Y)', checked: false},{label: 'ES2015/ES2016', checked: true}],[{label: 'Gulp/GRUNT', checked: true}, {label: 'Webpack', checked: false},{label: 'Дружу с WebGL', checked: false}, {label: 'jQuery', checked: false},{label: 'Знаю/изучаю Angular', checked: false}, {label: 'Знаю/изучаю React', checked: true},{label: 'Знаю/изучаю Node.js', checked: true}],[{label: 'Использую Git', checked: true}, {label: ['С', 'глазомером', 'всё', 'ок'], checked: true},{label: 'Читаю', link: 'blog.csssr.ru', checked: false}, {label: 'Я ленивый(-ая)', checked: false},{label: 'У меня хороший английский', checked: true}]];
	- var colsWidth = [260, 270, 240];
