include ../header/header
include ../contacts/contacts
include ../skills/skills
include ../js-skills/js-skills
include ../about-me/about-me
include ../plans/plans
include ../footer/footer
include ../scripts/scripts

mixin page()
	+b('body').page&attributes()
		.page__container
			+header
			+contacts
			+skills
			+js-skills
			+about-me
			+plans
			+footer
		+scripts(['app.min.js'])
