include ../contacts/contacts
include ../skills/skills

mixin page()
	+b('body').page&attributes()
		.page-container
			img.logo-csssr(src='/logo-csssr.png' alt='CSSSR')
			img.stamp(src='/stamp.png' alt='СЕКРЕТНО')
			img.page-title(src='/page-title.png' alt='ДЕЛО')
			+contacts
			+skills
