.page
	background #797979

	&__container
		margin 0 auto
		padding 0 115px
		padding-bottom 100px
		width 1000px
		background-image url('/page-bg-big.png')

.section-title
	font-family 'PT Sans', 'Arial', sans-serif
	font-size 24px
	font-weight bold
	line-height 50px
	color colorTitle

.section-text
	margin-bottom 1.5em
	font-family 'PT Sans', 'Arial', sans-serif
	font-size 15px
	line-height 1.5em
	color colorText
