mixin page()
	+b('body').page&attributes()
		block content
		.page-container
			img.logo-csssr(src='/logo-csssr.png' alt='CSSSR')
			img.stamp(src='/stamp.png' alt='СЕКРЕТНО')
			img.page-title(src='/page-title.png' alt='ДЕЛО')
			section.contacts
				- var contactsList = [{title: 'Полное ФИО', content: 'Гусаков Георгий Сергеевич'}, {title: 'Год рождения', content: '1990'}, {title: 'Место жительства', content: 'г. Великий Новгород, Россия'}, {title: 'Скайп', content: 'georgegus27'}, {title: 'Почта', content: 'georgegus1@gmail.com'}];
				mixin contacts(contact)
					p.contact-title= contact.title
						span.contact-content= contact.content
				for contact in contactsList
					+contacts(contact)

			section.section
				h2.section-title Расскажите о себе чекбоксами
				p.section-text.
					Отметьте чекбоксами пункты, которые соответствуют вашим скиллам.
					Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей.
					Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
//				- var checkboxesList = [{}];




