body
	background #797979

.page-container
	position relative
	margin 0 auto
	padding 0 115px
	padding-bottom 100px
	width 1000px
	background-image url('/page-bg-big.png')

.logo-csssr
	margin-top 72px
	margin-bottom 40px

.stamp
	position absolute
	top 58px
	right 54px

.page-title
	margin 0 auto
	margin-bottom 60px
	display block

p.contact-title
	font-family 'PT Sans', 'Arial', sans-serif
	font-size 22px
	font-weight bold
	line-height 1.5em

span.contact-content
	padding 10px 20px
	display inline-block
	font-family 'Courier New', sans-serif
	font-size 30px
	font-weight normal

.section
	margin-top 65px
	clearfix()
	&__title
		font-family 'PT Sans', 'Arial', sans-serif
		font-size 24px
		font-weight bold
		line-height 50px
		color colorTitle
	&__text
		margin-bottom 1.5em
		font-family 'PT Sans', 'Arial', sans-serif
		font-size 15px
		line-height 1.5em
		color colorText
	&__text-input
		padding 10px 20px
		display inline-block
		font-family 'Courier New', sans-serif
		font-size 30px
		font-weight normal
	&__column
		float left
		&-line
			display block
			clearfix()
			font-family 'PT Sans', 'Arial', sans-serif
			font-size 21px
			font-weight bold
			&__link
				color #1f5f97
			.stairs-text
				margin 0 4px 0 -4px
				display inline-block
			input
				margin-right 5px
				margin-bottom 17px
				float left
				size 21px
				vertical-align top



