body
	background #797979

.page-container
	margin 0 auto
	padding 0 115px
	padding-bottom 100px
	position relative
	width 1000px
	background-image url('/page-bg-big.png')

.logo-csssr
	margin-top 72px
	margin-bottom 40px

.stamp
	position absolute
	top 58px
	right 54px

.page-title
	display block
	margin 0 auto
	margin-bottom 60px

p.contact-title
	font-family 'PTSans', 'Arial', sans-serif
	font-size 22px
	font-weight bold

span.contact-content
	display inline-block
	padding 10px 20px
	font-family 'Courier New', sans-serif
	font-size 30px
	font-weight normal

h2.section-title
	font-family 'PTSans', 'Arial', sans-serif
	font-size 24px
	font-weight bold
	line-height 50px

.section
	margin-top 65px
