include ../header/header
include ../contacts/contacts
include ../skills/skills
include ../js-skills/js-skills
include ../plans/plans
include ../scripts/scripts

mixin page()
	+b('body').page&attributes()
		.page__container
			+header
			+contacts
			+skills
			+js-skills
			+plans
		+scripts(['app.min.js'])
