include ../contacts/contacts
include ../skills/skills
include ../js-skills/js-skills
include ../scripts/scripts

mixin page()
	+b('body').page&attributes()
		.page-container
			img.logo-csssr(src='/logo-csssr.png' alt='CSSSR')
			img.stamp(src='/stamp.png' alt='СЕКРЕТНО')
			img.page-title(src='/page-title.png' alt='ДЕЛО')
			+contacts
			+skills
			+js-skills
		+scripts(['app.min.js'])
