mixin header()
	+b('header').header&attributes(attributes)
		block header
		img.header__logo-csssr(src='/logo-csssr.png' alt='CSSSR')
		img.header__stamp(src='/stamp.png' alt='СЕКРЕТНО')
		img.header__page-title(src='/page-title.png' alt='ДЕЛО')
