.header
	position relative
	margin-bottom 50px

	&__logo-csssr
		margin-top 70px
		margin-bottom 40px

	&__stamp
		position absolute
		top 60px
		right -60px

	&__page-title
		margin 0 auto
		display block
