mixin about-me()
	+b.about-me&attributes(attributes)
		block about-me
		h2.section-title Расскажите о себе словами
		p.section-text.
			Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR.
			Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
		.section-text--underlined Ну-ууу-уу...
		.section-text--underlined Ээээ...
		.section-text--underlined
