mixin skills()
	+b('section').skills&attributes()
		block skills
		h2.skills__title Расскажите о себе чекбоксами
		p.skills__text.
			Отметьте чекбоксами пункты, которые соответствуют вашим скиллам.
			Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей.
			Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
		mixin checkboxes(skill)
			label.skills__column-line
				input(type='checkbox' name='skill' checked=skill.checked)
				if skill.label.constructor === Array
					each val, i in skill.label
						span.skills__column-line--stairs-text(style={'vertical-align': -i + 'px'})= val
				else if 'link' in skill
					= skill.label
						a.skills__column-line__link(href='http://' + skill.link)= skill.link
				else
					= skill.label
		each col, num in skillsList
			.skills__column(style={width: colsWidth[num] + 'px'})
				each val in col
					+checkboxes(val)
