.skills
	margin-top 65px
	clearfix()
	&__title
		font-family 'PT Sans', 'Arial', sans-serif
		font-size 24px
		font-weight bold
		line-height 50px
		color colorTitle

	&__text
		margin-bottom 1.5em
		font-family 'PT Sans', 'Arial', sans-serif
		font-size 15px
		line-height 1.5em
		color colorText

	&__column
		float left

		&-line
			display block
			clearfix()
			font-family 'PT Sans', 'Arial', sans-serif
			font-size 21px
			font-weight bold

			&--stairs-text
				margin 0 4px 0 -4px
				display inline-block

			&__link
				color #1f5f97

			input
				margin-right 5px
				margin-bottom 17px
				float left
				size 21px
				vertical-align top
